@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{font-family: 'Poppins', sans-serif;}
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: linear-gradient(rgba(128, 128, 128, 0.335), rgba(0, 0, 0, 0.76)), url(./images/pexels-pixabay-271795.jpg); */
    /* background-color: rgba(41, 41, 41, 0.9); */
    /* background-image: linear-gradient(rgba(41, 41, 41, 0.9),rgba(41, 41, 41, 0.9), url(/images/pexels-pixabay-271795.jpg)); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(224, 224, 224, 0.767);
    height: 100vh;
}

#nav{
    height: 22vh;
    display: grid;
    grid-template-columns: 30px 70px;
    column-gap: 10px;
}
#logo{
    background-color: rgb(22, 22, 22);
    width: 170px;
    height: 10vh;
    text-align: center;
    margin: auto 0px auto 80px;
    /* font-size: x; */
}
#nameLogo{
    /* text-align: center; */
    color: white;
    justify-self: center;
    margin: 9% 0% 0% 0%;
}
nav{
    /* background-color: aqua;,  */
    /* background-color: rgb(14, 13, 13, 0.9); */
    background-color: rgba(41, 41, 41, 0.9);
}
#menueItems{
    width: 200px;
    display: grid;
    grid-template-columns: 40px 40px;
    gap: 20px;
    margin: 40px 0px 0px 270px;
}
/* #leftDiv{
    display: grid;
    grid-template-columns: 40px 40px;
    column-gap: 5px;
    margin-top: 30px;
} */
#itemLeft{
    display: grid;
    grid-template-columns: 20px 20px;
    column-gap: 60px;
    /* margin: 0px 0px 0px 250px; */
}
#itemRight{
    width: 80px;
    display: grid;
    grid-template-columns: 30px 30px;
    column-gap: 40px;
    margin: 0px 0px 0px 800px;
}
a{
    font-size: large;
    color: white;
    text-decoration: none;
}
#prop{
    /* background-color: blueviolet; */
    width: 140px;
    color: #4bbfb8;
}
#hr{
    width: 1000px;
    height: 0.1vh;
    margin: 0px 0px 70px 0px;
    background-color: white;
    border: none;
}
#postProp{
    width: 170px;
    height: 28px;
    background-color: #4168e0;
    border: none;
    border-radius: 5px;
    font-size: medium;
    color: white;
    margin: -58px 0px 0px 1140px;
}

#mobileIcon{
    display: none;
}
#mobileDiv{
    display: none;
}

#homeAndHouseDiv{
    width: 300px;
    height: 5vh;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 23% 23% 23%;
    column-gap: 0%;
    /* margin: 0% 0% 0% -100%; */
    margin: 17px 0px 0px -60px;
}
#homeDiv{
    /* background-color: blue; */
    font-size: xx-small;
    /* height: 5vh; */
}
#iconDiv{
    width: 20%;
    /* background-color: #4168e0; */
    margin: 0% 0% 10% 0%;
}
#angleRight{
    font-size: medium;
    margin: 11% 0% 0% 28%;
    color: white;
}
/* Main Design  */
#mainDiv{
    width: 92%;
    /* background-color: aquamarine; */
    margin: 1% 0% 0% 4%;
    display: grid;
    grid-template-columns: 19% 80%;
    column-gap: 1%;
}
#searchCard{
    background-color: rgb(204, 204, 204);
    height: 80vh;
}
#middleMain{
    display: grid;
    grid-template-columns: 75% 23%;
    column-gap: 2%;
    margin: 1.5% 0% 0% 0%;
}
#advert{
    background-color: white;
    height: 93vh;
}
#advertTitle{
    text-align: center;
    margin: 80% 0% 0% 0%;
    color: gray;
}
#middleNav{
    background-color: rgb(204, 204, 204);
    width: 100%;
    display: grid;
    grid-template-columns: 40% 25% 25%;
    column-gap: 5%;

}
#tabs{
    display: grid;
    grid-template-columns: 15% 15% 15%;
    column-gap: 10%;
}
.tabs{
    color: rgb(168, 168, 168);
    text-align: right;
}
#allTextTab{
    color: #4bbfb8;
}
#saleTextTab{
    text-align: center;
    /* margin: 0% 10% 0% 0%; */
}
#view{
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 0%;
    /* text-align: center; */
    /* align-content: right; */
}
#allIconDiv{
    display: grid;
    grid-template-columns: 30% 70%;
}
#viewText{
    margin: 25% 0% 0% 38%;
}
#listView{
    font-size: x-large;
    color: rgb(168, 168, 168);
    /* text-align: left; */
    margin: 43% 0% 0% 30%;
}
#gridView{
    font-size: xx-large;
    color: rgb(168, 168, 168);
    text-align: left;
    margin: 15% 50% 0% 8%;
}
#viewTextDiv{
    /* background-color: red; */
    color: rgb(168, 168, 168);
}
#sort{
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 2%;
    color: rgb(168, 168, 168);
}
#inputField{
    width: 100%;
    margin: 13.5% 0% 0% 0%;
}
#loadDiv{
    width: 13%;
    margin: 4% 0% 0% 43.7%;
    /* background-color: #4168e0; */
}
#loadButton{
    width: 100%;
    height: 5vh;
    background-color: rgb(117, 117, 117);
    border-radius: 6px;
    border: none;
}
#loadButtonText{
    color: white;
    text-align: center;
    /* margin-top: -1%; */
    margin-bottom: 5%;
    font-weight: 900;
}

#cardSearchInput{
    width: 85%;
    height: 3.5vh;
    margin: 0% 0% 0% 1.5%;
    position: relative;
    border: none;
    background-color: gray;
}
#cardSearchInputIcon{
    margin: 0.7% 0% 0% -2%;
    position: absolute;
    font-size: small;
    color: white;
}
#cardSearchInput::placeholder{
    color: white;
    font-weight: 600;
}
.mostRecentInput::placeholder{
    color: gray;
    font-weight: 500;
}
#searchCardSearchDivInput{
    margin: 5% 0% 0% 8%;
}
#searchCardSearchText{
    margin: 14% 0% 0% 10%;
}
.cardCategoryInputDivs{
    display: grid;
    grid-template-columns: 80% 20%;
}
#categoryOption{
    height: 4.4vh;
}
.mostRecentInput{
    width: 84.5%;
    height: 3.5vh;
    margin: 0% 0% 0% 12%;
}
.cardTitleText{
    margin: 8% 0% 0% 10%;
}
#pricesDiv{
    margin: 8% 0% 0% 10%;
    /* background-color: blue; */
    height: 8vh;
}
label{
    margin: 0% 0% 0% 0%;
    /* background-color: aliceblue; */
}
#priceText{
    font-size: 90%;
    /* background-color: yellow; */
}
#inputRange{
    background: none;
    margin: 0% 0% 40% 0%;
    width: 90%;
    height: 2vh;
}
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    /* width: 300px; */
    height: 0.5vh;
    background: #20b2aa;
    /* background-color: red; */
    /* border: none; */
    border-radius: 3px;
    margin: 0% 0% 20% 0%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2vh;
    width: 7%;
    border-radius: 50%;
    background: none;
    border: 2px solid #20b2aa;
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    border-radius: 10%;
    background: #20b2aa;
    /* background-color: rebeccapurple; */
}
#doneBtn{
    width: 80%;
    height: 5vh;
    margin: 0% 0% 0% 10%;
    border: none;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-weight: 700;
}
footer{
    background-color: gray;
    height: 60vh;
    margin-top: 3%;
}
#footerMain{
    display: grid;
    grid-template-columns: 25% 30% 30%;
    column-gap: 7%;
    margin: 0% 0% 0% 3%;
}
.footerMainColumn{
    height: 50vh;
    color: white;
}
#footerBottom{
    display: grid;
    grid-template-columns: 35% 20%;
    column-gap: 45%;
}
#copyRight{
    height: 7vh;
    /* background-color: coral; */
}
#copyRightText{
    margin: 2.3% 0% 0% 17.5%;
    color: white;
    font-size: small;
}
#footerContact{
    margin-top: 10%;
}
#copyRightLogo{
    margin: 3% 0% 0% 22%;
    color: white;
    font-weight: 1000;
}
#footerLocation{
    font-size: 87%;
    font-weight: 700;
}
#footerContactNum{
    font-size: 87%;
    font-weight: 600;
}
.footerFirstColumn{
    margin: 5% 0% 0% 13%;
}
#quickLinksMain{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 87%;
    font-weight: 600;
    
}
.quickLinksText{
    margin: 2% 0% 0% 24%;
}
#footerQuickLinks{
    margin-top: 7%;
}
#recentMain{
    font-size: 87%;
    font-weight: 600;
}
.footerRecentText{
    margin-top: 10%;
}
.houseList{
    height: 20vh;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 25% 70%;
    column-gap: 5%;
}
.listImageDiv{
    background-color: #20b2aa;
}
.listInfoDiv{
    background-color: coral;
    margin: 0% 7.5% 0% 0%;
}
.infoAndbtn{
    display: grid;
    grid-template-columns: 60% 27%;
    column-gap: 13%;
}
.infoDiv{
    background-color: #4bbfb8;
    height: 10vh;
    margin-top: 6%;
}
.btnDiv{
    background-color: black;
    height: 5vh;
    margin-top: 12%;
}
.infoTitle{
    margin: -2% 0% 0% 0%;
}
.infoSmallEle{
    margin: -2.5% 0% 0% 0%;
}
.infoPriceTitle{
    font-size: 450;
    margin: 4% 0% 0% 5%;
    color: white;

}
.infoMonth{
    font-size: x-small;
}
.dollarSign{
    font-size: x-small;
    margin: -80% 0% 0% 0%;
}
.spanStarIcon{
    margin: 0% 0% 50% 120%;
}
@media (max-width: 768px) {
    body{
        height: 100vh;
    }
    #nav{
        height: 10vh;
    }
    #menueItems{
      margin: 70px 0px 0px 50px;
      display: none;
    }
    #postProp{
      margin: -10px 0px 0px 140px;
      display: none;
    }
    #logo{
      width: 250px;
      margin: 15px 0px 0px 45px;
      height: 7.5vh;
    }
    #nameLogo{
      font-size: xx-large;
      margin: 20px 10px 0px 0px;
    }

    .aTag{
        font-size: medium;
    }
    
    #itemLeft{
      margin: 0px 0px 0px -80px;
      column-gap: 30px;

  }
  #itemRight{
      margin: 0px 0px 0px 50px;
      column-gap: 20px;
  }
  #hr{
      width: 300px;
      margin: -17px 0px 0px -78px;
  }
  #searchDiv{
      height: 8vh;
  }
  #searchBar{
      width: 85%;
      margin: 0% 0% 30% 7%;
  }
  #titleDiv{
      margin: 50% 0% 0% 8%;
      font-size: large;
      width: 60%;
  }
  #filterDiv{
      margin: -5% 0% 0% 62%; 
      width: 30%;
      font-size: x-large;
      /* background-color: aqua; */
  }
  #filterIcon{
      margin: 0% 0% 0% 60%;
  }
  #textFil{
      text-align: right;
  }
  #latestPostingDiv{
      margin: 0% 0% 0% 28%;
      width: 50%;
      background-color: blue;
  }
  #latestPostingText{
      font-size: xx-large;
      text-align: center;
  }
  #downArrow{
      margin: 0% 0% 0% 47%;
      width: 10%;
      background-color: aquamarine;
  }
  #arrow{
      width: 90%;
      color: white;
      margin: 0% 0% 0% 0%;
  }
  #mobileViewIcon {
      /* font-size: 100%; */
      width: 100%;
      position: absolute;
      margin: -5% 0% 0% 60%;
      display: block;
      color: white;
      /* background-color: #4168e0; */
      
}

#mobileDiv{
    /* display: none; */
    background-color: rgb(22, 22, 22);
    width: 50%;
    height: 15vh;
    text-align: center;
    margin: 0% 0% 0% 50%;
}
}
  /* 
        Mobile View  
  */
  