@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{font-family: 'Poppins', sans-serif;}
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(128, 128, 128, 0.335), rgba(0, 0, 0, 0.76)), url(./images/pexels-pixabay-271795.jpg);
    /* background-color: rgba(41, 41, 41, 0.9); */
    /* background-image: linear-gradient(rgba(41, 41, 41, 0.9),rgba(41, 41, 41, 0.9), url(/images/pexels-pixabay-271795.jpg)); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 100vh;
}

#nav{
    height: 22vh;
    display: grid;
    grid-template-columns: 30px 70px;
    column-gap: 10px;
}
#logo{
    background-color: rgb(22, 22, 22);
    width: 170px;
    height: 10vh;
    text-align: center;
    margin: auto 0px auto 80px;
    /* font-size: x; */
}
#nameLogo{
    /* text-align: center; */
    color: white;
    justify-self: center;
    margin: 9% 0% 0% 0%;
}
nav{
    /* background-color: aqua;,  */
    /* background-color: rgb(14, 13, 13, 0.9); */
    background-color: rgba(41, 41, 41, 0.9);
}
#menueItems{
    width: 200px;
    display: grid;
    grid-template-columns: 40px 40px;
    gap: 20px;
    margin: 40px 0px 0px 270px;
}
/* #leftDiv{
    display: grid;
    grid-template-columns: 40px 40px;
    column-gap: 5px;
    margin-top: 30px;
} */
#itemLeft{
    display: grid;
    grid-template-columns: 20px 20px;
    column-gap: 60px;
    /* margin: 0px 0px 0px 250px; */
}
#itemRight{
    width: 80px;
    display: grid;
    grid-template-columns: 30px 30px;
    column-gap: 40px;
    margin: 0px 0px 0px 800px;
}
a{
    font-size: large;
    color: white;
    text-decoration: none;
}
#prop{
    /* background-color: blueviolet; */
    width: 130px;
}
#hr{
    width: 1000px;
    height: 0.1vh;
    margin: 0px 0px 70px 0px;
    background-color: white;
    border: none;
}
#postProp{
    width: 170px;
    height: 28px;
    background-color: #4168e0;
    border: none;
    border-radius: 5px;
    font-size: medium;
    color: white;
    margin: -58px 0px 0px 1140px;
}

#titleDiv{
    margin: 140px 0px 0px 450px;
    color: white;
}
#searchDiv{
    justify-content: center;
}
#searchBar{
    width: 500px;
    height: 4vh;
    margin: 0px 0px 10px 453px;
    border: none;
    background-color: rgba(41, 41, 41, 0.9);
}
#filterDiv{
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 9.5%;
    margin: 0px 0px 0px 820px;
    color: white;
    height: 10vh;
    /* background-color: #4168e0; */
    width: 10%;
}
#filterIcon{
    width: 60%;
    height: 3vh;
    color: white;
    margin: 5% 0% 0% 40%;
    /* background-color: #4168e0; */
}
#mobileViewIcon{
    display: none;
}
#mobileDiv{
    display: none;
}
#textFil{
    margin: 0px 0px 0px 0px;
}
.filter{
    /* background-color: aqua; */
    margin: 0px 0px 0px 0px;
}
#latestPostingDiv{
    margin: 70px 0px 0px 600px;
    color: white;
    font-size: medium;
}
#downArrow{
    width: 25px;
    height: 3.5vh;
    background-color: rgba(41, 41, 41, 0.37);
    text-align: center;
    border-radius: 100%;
    border: 1px solid white;
    margin: -10px 0px 0px 70px;
}
#arrow{
    margin-top: 3px;
    font-family: monospace;
}

@media (max-width: 768px) {
    body{
        height: 100vh;
    }
    #nav{
        height: 18vh;
    }
    #menueItems{
      margin: 70px 0px 0px 50px;
      display: none;
    }
    #postProp{
      margin: -10px 0px 0px 140px;
      display: none;
    }
    #logo{
      width: 130px;
      margin: 10px 0px 0px 20px;
      height: 10vh;
    }
    #nameLogo{
        width: 100%;
      font-size: x-large;
      margin: 8px 110px 0px 0px;
      /* background-color: aqua; */
    }

    .aTag{
        font-size: medium;
    }
    
    #itemLeft{
      margin: 0px 0px 0px -80px;
      column-gap: 30px;

  }
  #itemRight{
      margin: 0px 0px 0px 50px;
      column-gap: 20px;
  }
  #hr{
      width: 300px;
      margin: -17px 0px 0px -78px;
  }
  #searchDiv{
      height: 8vh;
  }
  #searchBar{
      width: 85%;
      margin: 0% 0% 30% 7%;
  }
  #titleDiv{
      margin: 30% 0% 0% 8%;
      font-size: smaller;
      width: 90%;
  }
  #filterDiv{
      margin: -5% 0% 0% 62%; 
      width: 30%;
      /* font-size: x-large; */
      /* background-color: aqua; */
  }
  #filterIcon{
      margin: 5% 0% 0% 50%;
  }
  #textFil{
    font-size: medium;
    text-align: right;
  }
  #latestPostingDiv{
      height: 14.5vh;
      margin: 12% 0% 0% 20%;
      width: 60%;
      /* background-color: blue; */
  }
  #latestPostingText{
      font-size: medium;
      text-align: center;
      margin: 0% 0% 0% 0%;
  }
  #downArrow{
      margin: -4% 0% 0% 47%;
      width: 12%;
      height: 5vh;
      /* background-color: aquamarine; */
  }
  #arrow{
      width: 90%;
      color: white;
      margin: -50% 0% 0% 0%;
  }
  #mobileViewIcon {
      font-size: 40px;
      /* width: 100%; */
      position: absolute;
      margin: -17% 0% 0% 85%;
      display: block;
      color: white;
      /* background-color: #4168e0; */
      
}


#mobileDiv{
    /* display: none; */
    background-color: rgb(22, 22, 22);
    width: 30%;
    height: 15vh;
    text-align: center;
    margin: 0% 0% 0% 50%;
}
}
  /* 
        Mobile View  
  */
  